<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}.ng-hide-add-active,.ng-hide-remove{display:block!important;}</style>

<title>WATASA瓦塔萨 | 纯皮艺术原创自制，品牌官方网站正品保证</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
<link href="css/wozaixianshang.css" rel="stylesheet" type="text/css">
<link rel="shortcut icon" type="image/x-icon" href="https://img.alicdn.com/imgextra/i3/346853278/TB2k.nUeFXXXXcfXpXXXXXXXXXX_!!346853278.png" media="screen" />
<link rel="stylesheet" href="/css/main.css">
<script src="js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="js/jquery.plugin.min.js" type="text/javascript"></script>

 <iframe src="/t/mapping.html" width="0" height="0" frameborder="0" style="display: none;">
 </iframe>

</head>
<body>
	
    <!-- ngIf: lang !='en' && lang != 'jp' -->
     
         <div class="header cn ng-scope" route-change-reset-header="" ng-if="lang !=&#39;en&#39; &amp;&amp; lang != &#39;jp&#39;">
             <div class="header-main">
               <div class="container">
               <h1 class="logo"><a href="http://www.watasa.com/">WATASA</a></h1>
                 <div class="nav">
                   <div class="nav-main">
                   	
                     <a class="nav-toggle" mobile-nav-show="">
                     <span class="line"></span> 
                     <span class="line"></span>
                   
                       
                       
                     
                     </a>

                   
                       <div class="view">
                       <ul>
                       <li ng-class="{active:moduleName==&#39;index&#39;}" class=""><a href="http://www.watasa.com">首页</a></li>
                       <li ng-class="{active:moduleName==&#39;t1&#39;}"><a href="http://www.watasa.com">背包系列</a></li>
                       <li ng-class="{active:moduleName==&#39;jianguo&#39;}"><a href="http://www.watasa.com/">胸包系列</a></li>
                       <li><a href="http://www.watasa.com/" target="_blank">腰包系列</a></li>
                       <li><a href="https://www.watasa.com/" target="_blank">挎包系列</a></li> 
                       <li ng-class="{active:moduleName==&#39;apps&#39;}"><a href="http://www.watasa.com/">手拿包/钱包</a></li>
                       <li><a href="http://www.watasa.com/" target="_blank">皮腰带</a></li>
                       </ul>
                       </div>
                   </div>
                 
                   <ul class="nav-sub">
                   <li><a class="btn-service btn-cdkey" href="http://www.watasa.com/" target="_blank">优惠券领取</a></li>
                   <li><a class="btn-service" href="http://www.watasa.com/" target="_blank">售后保障</a></li>
                   </ul>
                 
                 </div>
               
                 <div class="mobile-title"><span class="logo-pic"></span></div>
               </div>
             </div>
         
             <div class="header-sub">
               <div class="container clearfix">
                     <div class="breadcrumb sticky-nav hide"></div>
                     <div class="language-switch">
                     <h3><a change-language="">中文<span class="icon"></span></a></h3>
                       <ul>
                       <li><a href="http://www.watasa.com/" ng-click="changeLangCookies($event)">English</a></li>
                       </ul>
                     </div>
     
                     <div class="login" ng-class="{&#39;hide&#39;: isLoggedIn === true}">
                     新品陆续上新
                     </div>
               </div>
             </div>
         </div>
     <!-- end ngIf: lang !='en' && lang != 'jp' --><!-- ngIf: lang ==='en' --><!-- ngIf: lang ==='jp' -->	
	
	
	
	
	
	
	
	
	
<!-- 代码 开始 -->
<div id="banner">
	<ul id="banner_img">
		<li class="item1">
        <a target="_blank" href="http://watasa.taobao.com" style="padding:0px;margin:0px;">
        
			<div class="wrapper">
				
				<div class="ad_img">
					 <img src="https://img.alicdn.com/imgextra/i2/346853278/TB26VLVeFXXXXbpXpXXXXXXXXXX_!!346853278.png" width="506" height="404" alt="WATASA瓦塔萨品牌官方淘宝店" /> 
				</div>
			</div>
           </a>
		</li>
        
        
		<li class="item2">
			<div class="wrapper">
				<div class="ad_txt">
					<h2>Web应用(B/S)定制开发</h2>
					<p>
						自主研发、完善的开发框架。<br />
						详细的需求调研及解决方案。<br />
						实施项目经验丰富的项目团队。
					</p>
					<a href="http://www.watasa.com/" target="_blank">了解详细&gt;</a>
				</div>
				<div class="ad_img">
					<img src="images/20120830015430148.png" width="506" height="404" alt="Web应用(B/S)定制开发" />
				</div>
			</div>
		</li>
		<li class="item3">
			<div class="wrapper">
				<div class="ad_txt">
					<h2>互联网时代的整合营销</h2>
					<p>
						基于互联网的品牌营销策略的定制与执行。<br />
						品牌形象挖掘、梳理、包装、表现与传播。<br />
						坐拥着最为丰富的行业经验与优势资源。
					</p>
					<a href="http://www.watasa.com/" target="_blank">了解详细&gt;</a>
				</div>
				<div class="ad_img">
					<img src="images/20120830015446637.png" width="506" height="404" alt="互联网时代的整合营销" />
				</div>
			</div>
		</li>
		<li class="item4">
			<div class="wrapper">
				<div class="ad_txt">
					<h2>您的网站全职管家</h2>
					<p>
						成熟的监控与报警机制。<br />
						丰富的整合营销的能力和经验。<br />
						专业数据分析、开发和维护部门。
					</p>
					<a href="http://www.watasa.com/" target="_blank">了解详细&gt;</a>
				</div>
				<div class="ad_img">
					<img src="images/20120830015615324.png" width="506" height="404" alt="您的网站全职管家" />
				</div>
			</div>
		</li>
		<li class="item5">
			<div class="wrapper">
				<div class="ad_txt">
					<h2>不可忽略的移动终端</h2>
					<p>
						IOS系统、Android系统应用开发。<br />
						App Store、Google Play 发布。<br />
						APP推广服务。
					</p>
					<a href="http://www.watasa.com/" target="_blank">了解详细&gt;</a>
				</div>
				<div class="ad_img">
					<img src="images/20120830015631560.png" width="506" height="404" alt="不可忽略的移动终端" />
				</div>
			</div>
		</li>
		<li class="item6">
			<div class="wrapper">
				<div class="ad_txt">
					<h2>全新的学术会议体验</h2>
					<p>
						工作更高效，主办方更轻松。<br />
						线上报名，让主办方不再为报名的事而费尽脑筋。<br />
						线上投稿、审稿，为主办方提高收寄、审稿效率。<br />
						酒店预订，会议行程更加轻松。
					</p>
					<a href="http://www.watasa.com/" target="_blank">了解详细&gt;</a>
				</div>
				<div class="ad_img">
					<img src="images/20120830015651273.png" width="506" height="404" alt="全新的学术会议体验" />
				</div>
			</div>
		</li>
		<li class="item7">
			<div class="wrapper">
				<div class="ad_txt">
					<h2>医院网站管理系统(HMS)</h2>
					<p>
						与大型医院密切合作。<br />
						诊疗挂号很轻松，检验结果实时查询，在线医患服务。<br />
						便捷的数据处理能力，稳定的软件基础架构。
					</p>
					<a href="http://www.watasa.com/" target="_blank">了解详细&gt;</a>
				</div>
				<div class="ad_img">
					<img src="images/20120830015711808.png" width="506" height="404" alt="医院网站管理系统(HMS)" />
				</div>
			</div>
		</li>
		<li class="item8">
			<div class="wrapper">
				<div class="ad_txt">
					<h2>智慧点亮网络(RUIFOX-LAB)</h2>
					<p>
						互联网改变世界，我们改变互联网。<br />
						精彩前沿技术演练场。<br />
						锐狐新产品尝鲜体验。
					</p>
					<a href="http://www.watasa.com/" target="_blank">了解详细&gt;</a>
				</div>
				<div class="ad_img">
					<img src="images/20120830015726137.png" width="506" height="404" alt="智慧点亮网络(RUIFOX-LAB)" />
				</div>
			</div>
		</li>
	</ul>
	<div id="banner_ctr">
		<div id="drag_ctr"></div>
		<ul>
			<li class="first-item">网站建设</li>
			<li>品牌网站建设</li>
			<li>应用系统开发</li>
			<li>网络整合营销</li>
			<li>网络运维托管</li>
			<li>手机APP开发</li>
			<li>学术会议系统</li>
			<li>医院网站系统</li>
			<li>实验室</li>
			<li class="last-item">网站设计</li>
		</ul>
		<div id="drag_arrow"></div>
	</div>
</div>
<script type="text/javascript" src="js/fashionfoucs.js"></script>
<!-- 代码 结束 -->


<div class="footer cn ng-scope" route-change-reset-footer="" ng-if="lang !=&#39;en&#39; &amp;&amp; lang != &#39;jp&#39;">
    <div class="footer-main">
      <div class="container">
          <div class="nav">
          
                <dl>
                <dt><span>订单服务</span><a href="http://www.watasa.com/">订单服务</a></dt>
                <dd><a href="http://www.watasa.com/">购买指南</a></dd>
                <dd><a href="http://www.watasa.com/">支付方式</a></dd>
                <dd><a href="http://www.watasa.com/">送货政策</a></dd>
                </dl>
              
                <dl>
                <dt><span>服务支持</span><a href="http://www.watasa.com/">服务支持</a></dt>
                <dd><a href="http://www.watasa.com/">售后服务</a></dd>
                <dd><a href="http://www.watasa.com/">维修门店</a></dd>
                <dd><a href="http://www.watasa.com/">零售门店</a></dd>
                </dl>
              
                <dl>
                <dt><span>媒体中心</span><a href="http://www.watasa.com/">媒体中心</a></dt>
                <dd><a href="http://www.watasa.com/">新闻动态</a></dd>
                <dd><a href="http://www.watasa.com/">官方视频</a></dd>
                <dd><a href="http://www.watasa.com/">图片资源</a></dd>
                </dl>
              
                <dl>
                <dt><span>关于公司</span><a href="http://www.watasa.com/">关于公司</a></dt>
                <dd><a href="http://www.watasa.com/">公司简介</a></dd>
                <dd><a href="http://www.watasa.com/">加入我们</a></dd>
                <dd><a href="http://www.watasa.com/">联系我们</a></dd>
                </dl>
          
                <dl class="last">
                  <dt><span>关注我们</span><a href="http://weibo.com/watasa">关注我们</a></dt>
                  <dd><a href="http://weibo.com/watasa" target="_blank">新浪微博</a></dd>
                  <dd class="weixin" show-weixin-code=""><a>官方微信</a>
                    <div class="mask"></div>
                    <div class="qrcode">
                      <div class="close-btn"></div>
                      <h1>锤子科技官方微信</h1>
                      <h6>打开微信，点击右上角的“+”，选择“扫一扫”功能，用摄像头对准下方二维码即可。</h6>
                      <div class="qrcode-bg"></div>
                    </div>
                  </dd>
            
                  <dd><a href="www.watasa.com/" target="_blank">官方贴吧</a></dd>
          
                </dl>
          
          </div>
      
          <ul class="service">
            <li class="online" data-service-dom="live800" data-label="在线咨询" add-custom-service-module="">
            <a data-log="purchase|consult"  open-service-window="" >在线咨询</a>
            </li>
          
            <li class="tel">020-28920823</a></li>
            <li class="time">周一至周日 9:00-18:00（售后接待）</li>
          </ul>
      
          <div class="language-switch">
            <ul>
            <li><a href="http://www.smartisan.com/en/" ng-click="changeLangCookies($event)">English</a></li>
            </ul>
          <h3><a change-language="">中文<span class="icon"></span></a></h3>
          </div>
      </div>
    </div>
  
    <div class="footer-sub">
      <div class="container">
      
      <h3 class="company">瓦塔萨纯皮艺术原创自制.</h3>
      
        <ul class="privacy">
        <li><a href="http://watasa.taobao.com" target="_blank">品牌直营</a></li>
        <li><a href="http://aihepai.taobao.com" target="_blank">艾禾派优选</a></li>
        <li><a href="http://camti.taobao.com" target="_blank">垦町</a></li>
        <li><a href="http://mrmiss.taobao.com" target="_blank">男女二份一</a></li>
        
        </ul>
      
        <h4>
        
          <span>CopyRight © 2012-2016 WATASA.COM All Rights Reserved. 粤ICP备13008876号</span>
        
        </h4>
      </div>
    </div>
  </div>
  
  <!-- end ngIf: lang !='en' && lang != 'jp' --><!-- ngIf: lang ==='en' --><!-- ngIf: lang ==='jp' -->
  <div class="back-top" back-top=""></div>



</body>
</html>
